body {
  text-align: center;
  display: flex;
  align-content: center;
  flex-flow: column wrap;
 
}
h1{
  font-size: 50px;
  font-weight: bolder ;
}
p{
  font-size: 20px;
}
.calculatordiv {  
  background-color: rgb(236, 226, 226);
  padding: 12px 10px 6px;
  border-radius: 7px;
  width: 400px;
  height: 600px;
  
}
.calculatordiv #result {
  height: 150px;
  font: bold 30px/44px monospace;
  margin-bottom: 10px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 8px;
  width: 100%;
  background-color: rgb(236, 226, 226);

}
input {
  border: none;
  height: 3vw;
  text-align: right;
}

button {
  position: relative;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 25px;
  background: #f2f2f2;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
button:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}

button:active:after {
  box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}

#output {
  text-align: right;
}
#equal{
  background-color: rgb(255, 77, 13);
  color: white;
  font-size: 30px;
}

#add {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 30px

}
#subtract {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 30px

}
#multibtn {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 30px

}
#divbtn {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 30px

}
#clear {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 20px

}
#clrlastdigitbtn {
  color: rgb(255, 77, 13);
  font-weight: bold;
  font-size: 25px

}

